{% extends "base.html" %}

{% block content %}
<div class="container mx-auto p-6">
    <div class="card bg-base-200 shadow">
        <div class="card-body">
            <h2 class="card-title">
                <i class="fas fa-truck mr-2"></i>
                Перемещения оборудования
            </h2>
            <div class="overflow-x-auto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Оборудование</th>
                                    <th>Дата</th>
                                    <th>Причина</th>
                                    <th>Одобрил</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for writeoff in write_off %}
                                <tr class="hover">
                                    <td>
                                        <div class="font-bold">{{ writeoff.equipment.name }}</div>
                                        <div class="text-sm opacity-50">{{ writeoff.equipment.serial_number }}</div>
                                    </td>
                                    <td>{{ writeoff.write_off_date|date:"d.m.Y" }}</td>
                                    <td>{{ writeoff.reason }}</td>
                                    <td>{{ writeoff.approved_by}}</td>

                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center py-4">Нет недавних списаний</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}