{% extends "base.html" %}

{% block content %}
<!-- Шапка -->
<div class="mb-6 flex justify-between items-center">
    <h2 class="text-2xl font-semibold">Список сотрудников</h2>
    <button hx-get="{% url 'employees:create' %}"
            hx-target="#modal-content"
            class="btn btn-primary">
        <i class="fas fa-plus mr-2"></i> Добавить сотрудника
    </button>
</div>

<!-- Фильтрация -->
<div class="card bg-base-200 p-4 mb-6">
    {% include "employees/partials/filter.html" %}
</div>

<!-- Таблица -->
<div id="employee-table" hx-trigger="refreshTable from:body" hx-get="{% url 'employees:employee_filter' %}" hx-target="this">
    {% include "employees/partials/employee_table.html" %}
</div>





{% endblock %}